@CHARSET "UTF-8";

html {
	font-size:13px;
}

#winehouses {
	font-family: Helvetica, "Trebuchet MS", Arial, sans-serif;
	width: 100%;
	border-collapse: collapse;
	table-layout:fixed;
}

#winehouses td,#winehouses th {
	font-size: 1em;
	border: 2px solid #800000;
	padding: 3px 7px 2px 7px;
	overflow: hidden; 
}

#winehouses th {
	font-size: 1.1em;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 4px;
	background-color: #990000;
	color: #ffffff;
}

#winehouses tr.alt td {
	color: #000000;
	background-color: #EAF2D3;
}

a {
	color: #669999;
}

#winehouses th a {
	color: #ffffff;
}

.show_hide {
	cursor:pointer;
}

a:hover {
	
}

a:visited {
	
}
